.slides h1 {
    font-weight: 500;
}

.slides h1,
.slides h4 {
    text-shadow: 1px 1px 1px rgb(112, 100, 100);
}

.slides img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about h2 {
    padding-top: 50px;
    font-style: inherit;
    color: rgb(106, 95, 95);
}
.about h5 {
    color: rgb(112, 110, 110);
    font-weight: bold;
}
.about p {
    color: rgb(76, 72, 72);
}
#clients {
    height: 400px;
    opacity: 0.7;
}

.client img {
    max-width: 220px;
    filter: drop-shadow(5px 4px 4px rgb(23, 21, 21));
}

.client h3 {
    text-shadow: 2px 2px 2px black;
    margin-top: 60px;
    font-weight: bold;
}

.kartu {
    margin-top: 20px;
    padding-top: 5px;
}

.services {
    padding: 2px;
    background-image: url("../img/slider/1.jpg");
}

.services h3 {
    color: white;
    font-weight: bold;
    padding-top: 25px;
    text-shadow: 1px 1px 1px black;
}
.services h5 {
    color: white;
    font-weight: 600;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
}

.project {
    background-image: url("../img/bggwe/1.jpg");
    padding: 20px;
    opacity: 0.9;
}
.project h5 {
    color: white;
    font-weight: 550;
    padding: 5px;
    text-shadow: 1px 1px 1px black;
}

.project h3 {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    text-shadow: 2px 2px 1px black;
    padding-bottom: 20px;
}
